@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

li {
  list-style: none; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top; }

button,
input,
select,
textarea {
  font: inherit; }

html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth; }
  html {
    font-size: 1rem; }
    @media screen and (min-width: 20rem) {
      html {
        font-size: -webkit-calc(1rem + 0.2 * ((100vw - 20rem) / 113));
        font-size: calc(1rem + 0.2 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      html {
        font-size: 1.2rem; } }

body {
  background: #ffffff;
  color: #343434;
  font-family: "PT Serif", serif;
  font-weight: 400;
  line-height: 1.6;
  overscroll-behavior: none; }

a {
  color: #343434;
  text-decoration: none;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out; }

a:hover {
  color: #3949ab; }

a:active {
  color: #3949ab; }

a:focus {
  color: #3949ab; }

p,
ul,
ol,
dl,
table {
  margin-top: -webkit-calc(1.33333rem + 0.5vw);
  margin-top: calc(1.33333rem + 0.5vw); }

blockquote,
figure {
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw);
  margin-bottom: -webkit-calc(1.86667rem + 0.5vw);
  margin-bottom: calc(1.86667rem + 0.5vw); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343434;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw); }

h1 {
  margin: 0; }
  h1 {
    font-size: 1.67583rem; }
    @media screen and (min-width: 20rem) {
      h1 {
        font-size: -webkit-calc(1.67583rem + 0.4936 * ((100vw - 20rem) / 113));
        font-size: calc(1.67583rem + 0.4936 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      h1 {
        font-size: 2.16943rem; } }

h2 {
  font-size: 1.29454rem; }
  @media screen and (min-width: 20rem) {
    h2 {
      font-size: -webkit-calc(1.29454rem + 0.27655 * ((100vw - 20rem) / 113));
      font-size: calc(1.29454rem + 0.27655 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h2 {
      font-size: 1.57109rem; } }

h3 {
  font-size: 1.13778rem; }
  @media screen and (min-width: 20rem) {
    h3 {
      font-size: -webkit-calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 113));
      font-size: calc(1.13778rem + 0.24306 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h3 {
      font-size: 1.38084rem; } }

h4 {
  font-size: 1.06667rem; }
  @media screen and (min-width: 20rem) {
    h4 {
      font-size: -webkit-calc(1.06667rem + 0.14696 * ((100vw - 20rem) / 113));
      font-size: calc(1.06667rem + 0.14696 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h4 {
      font-size: 1.21363rem; } }

h5 {
  font-size: 0.9375rem; }
  @media screen and (min-width: 20rem) {
    h5 {
      font-size: -webkit-calc(0.9375rem + 0.12917 * ((100vw - 20rem) / 113));
      font-size: calc(0.9375rem + 0.12917 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h5 {
      font-size: 1.06667rem; } }

h6 {
  font-size: 0.87891rem; }
  @media screen and (min-width: 20rem) {
    h6 {
      font-size: -webkit-calc(0.87891rem + 0.12109 * ((100vw - 20rem) / 113));
      font-size: calc(0.87891rem + 0.12109 * ((100vw - 20rem) / 113)); } }
  @media screen and (min-width: 133rem) {
    h6 {
      font-size: 1rem; } }

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: -webkit-calc(0.8rem + 0.25vw);
  margin-top: calc(0.8rem + 0.25vw); }

b,
strong {
  font-weight: 700; }

blockquote {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0 15%; }
  blockquote cite {
    color: #343434;
    display: block;
    font-family: "PT Serif", serif;
    font-size: 0.87891rem;
    font-style: normal;
    padding-top: 0.53333rem; }
  blockquote > :nth-child(1) {
    margin-top: 0; }
  blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.55em;
    font: normal 400%/0.9 "Roboto", sans-serif;
    color: #e3e3e3; }
    @media all and (min-width: 37.5em) {
      blockquote:before {
        margin-left: -.85em; } }

ul,
ol {
  margin-left: 2rem; }
  ul > li,
  ol > li {
    list-style: inherit;
    padding: 0.26667rem 0 0 1.06667rem; }

dl dt {
  font-weight: 700; }

pre {
  margin: -webkit-calc(1.06667rem + 0.25vw) 0 0;
  margin: calc(1.06667rem + 0.25vw) 0 0;
  padding: 1.6rem 3.2rem;
  white-space: pre-wrap;
  word-wrap: break-word; }

code,
pre {
  background-color: #f6f6f6;
  font-family: "Monaco", "Courier New", monospace;
  font-size: 0.9375rem; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap; }
  table th {
    border-bottom: 2px solid #e3e3e3;
    padding: 0.8rem 1.33333rem; }
  table tr:nth-child(2n) {
    background: whitesmoke; }
  table td {
    padding: 0.8rem 1.33333rem; }

figcaption {
  color: #908e98;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.77248rem;
  margin: 1.06667rem 0 0;
  text-align: center; }

sub,
sup {
  font-size: 65%; }

.btn, [type=button],
[type=submit],
button {
  background: #3949ab;
  border: none;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: 700 0.7242rem "Roboto", sans-serif;
  letter-spacing: 0.15rem;
  padding: 0.8rem 1.6rem;
  vertical-align: middle;
  text-align: center;
  text-transform: lowercase;
  -webkit-transition: all 0.24s ease;
  -o-transition: all 0.24s ease;
  transition: all 0.24s ease;
  width: 100%; }
  @media all and (min-width: 37.5em) {
    .btn, [type=button],
    [type=submit],
    button {
      width: auto; } }
  .btn:hover, [type=button]:hover,
  [type=submit]:hover,
  button:hover, .btn:focus, [type=button]:focus,
  [type=submit]:focus,
  button:focus, .btn:active, [type=button]:active,
  [type=submit]:active,
  button:active {
    background: #343434;
    color: #ffffff; }
  .btn:focus, [type=button]:focus,
  [type=submit]:focus,
  button:focus {
    outline: 2px dotted #343434; }
  .btn:disabled, [type=button]:disabled,
  [type=submit]:disabled,
  button:disabled {
    background-color: whitesmoke;
    border-color: #cccccc;
    color: #717171;
    cursor: not-allowed; }

[type=button],
[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

fieldset {
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 0 1.6rem;
  padding: 1.6rem; }
  fieldset > legend {
    margin-left: -1rem;
    padding: 0 1rem; }

legend {
  font-weight: 700; }

label {
  font-weight: 700;
  margin: 0 1.06667rem 0.8rem 0; }

option {
  font-weight: 400; }

[type=text],
[type=url],
[type=tel],
[type=number],
[type=email],
[type=search],
textarea,
select {
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  padding: 0.53333rem 0.8rem;
  width: 100%;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media all and (min-width: 37.5em) {
    [type=text],
    [type=url],
    [type=tel],
    [type=number],
    [type=email],
    [type=search],
    textarea,
    select {
      width: auto; } }
  [type=text]:focus,
  [type=url]:focus,
  [type=tel]:focus,
  [type=number]:focus,
  [type=email]:focus,
  [type=search]:focus,
  textarea:focus,
  select:focus {
    -webkit-box-shadow: inset 0 0 2px #3949ab;
    box-shadow: inset 0 0 2px #3949ab; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }
  input[type=checkbox] + label,
  input[type=radio] + label {
    position: relative;
    margin-left: -1px;
    cursor: pointer;
    padding: 0; }
    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
      background-color: #ffffff;
      border: 1px solid #d6d6d6;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      content: '';
      display: inline-block;
      height: 1.33333rem;
      line-height: 1.33333rem;
      margin-right: 1.06667rem;
      vertical-align: middle;
      text-align: center;
      width: 1.33333rem; }
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 8'%3e%3cpolygon points='9.53 0 4.4 5.09 1.47 2.18 0 3.64 2.93 6.54 4.4 8 5.87 6.54 11 1.46 9.53 0' fill='%233949ab'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    -webkit-background-size: 11px 8px;
    background-size: 11px 8px;
    background-position: 50% 50%; }

input[type=radio] + label:before {
  -webkit-border-radius: 50%;
  border-radius: 50%; }

input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3ccircle cx='4' cy='4' r='4' fill='%233949ab'/%3e%3c/svg%3e"); }

[type=file] {
  margin-bottom: 1.6rem;
  width: 100%; }

select {
  max-width: 100%;
  width: auto;
  position: relative; }
  select:not([multiple]) {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6"><polygon points="3 6 3 6 0 0 6 0 3 6" fill="%238a8b8c"/></svg>') no-repeat 90% 50%;
    -webkit-background-size: 8px 8px;
    background-size: 8px;
    padding-right: 3.2rem; }

select[multiple] {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1.6rem;
  width: 100%; }
  select[multiple]:hover {
    border-color: #d6d6d6; }
  select[multiple]:focus {
    border-color: #3949ab; }
  select[multiple]:disabled {
    background-color: whitesmoke;
    cursor: not-allowed; }
    select[multiple]:disabled:hover {
      border-color: #d6d6d6; }

textarea {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
  overflow: auto;
  resize: vertical;
  max-width: 100%; }

.container {
  display: grid;
  grid-gap: -webkit-calc(1.86667rem + 0.5vw);
  grid-gap: calc(1.86667rem + 0.5vw);
  grid-template-columns: 1fr auto 1fr; }
  @media all and (min-width: 56.25em) {
    .container {
      grid-template-columns: 1fr minmax(auto, 42rem) 20rem 1fr; } }

.top {
  grid-column: 2/3; }
  @media all and (min-width: 56.25em) {
    .top {
      grid-column: 2/4; } }

.footer {
  grid-column: 2/3; }
  @media all and (min-width: 56.25em) {
    .footer {
      grid-column: 2/4; } }

.main {
  grid-column: 2/3; }
  .main--full {
    grid-column: 2/4; }
  .main--grid {
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    display: grid;
    grid-gap: -webkit-calc(1.86667rem + 0.5vw);
    grid-gap: calc(1.86667rem + 0.5vw); }
    @media all and (min-width: 37.5em) {
      .main--grid {
        grid-template-columns: repeat(6, 1fr); }
        .main--grid > .article {
          grid-column: span 3; } }

.sidebar {
  grid-column: 2/3; }
  @media all and (min-width: 56.25em) {
    .sidebar {
      grid-column: 3/4; } }

@media all and (min-width: 37.5em) {
  .hero,
  .page-header--listing {
    grid-column: span 6; } }

@media all and (min-width: 37.5em) {
  .featured-posts {
    grid-column: span 6;
    display: grid;
    grid-column-gap: -webkit-calc(1.86667rem + 0.5vw);
    grid-column-gap: calc(1.86667rem + 0.5vw);
    grid-template-columns: repeat(3, 1fr); }
    .featured-posts > h3 {
      grid-column: span 3; } }

@media all and (min-width: 37.5em) {
  .pagination {
    grid-column: span 6; } }

.top {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw);
  position: relative; }

.logo {
  color: #343434 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 800; }
  .logo {
    font-size: 1.4729rem; }
    @media screen and (min-width: 20rem) {
      .logo {
        font-size: -webkit-calc(1.4729rem + 0.43382 * ((100vw - 20rem) / 113));
        font-size: calc(1.4729rem + 0.43382 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .logo {
        font-size: 1.90672rem; } }
  @media all and (min-width: 56.25em) {
    .logo {
      margin: 0; } }

.navbar__menu {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0; }
  @media all and (max-width: 56.1875em) {
    .navbar__menu {
      background: #ffffff;
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 2.99rem;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      visibility: hidden;
      -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
      transform: translateY(-5%);
      width: 100%;
      z-index: 1; }
      .navbar__menu > li {
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid #e3e3e3;
        padding: 0; } }
  @media all and (min-width: 56.25em) {
    .navbar__menu {
      max-height: none;
      overflow: visible; } }
  .navbar__menu li {
    color: #343434;
    padding: 0;
    text-align: center; }
    @media all and (min-width: 56.25em) {
      .navbar__menu li {
        display: inline-block;
        margin: 0 0 0 1.6rem;
        position: relative; } }
    .navbar__menu li:hover, .navbar__menu li[aria-expanded="true"] {
      cursor: pointer; }
      @media all and (min-width: 56.25em) {
        .navbar__menu li:hover > ul, .navbar__menu li[aria-expanded="true"] > ul {
          display: block; }
          .navbar__menu li:hover > ul li, .navbar__menu li[aria-expanded="true"] > ul li {
            margin: 0;
            display: block; } }
    .navbar__menu li a,
    .navbar__menu li span {
      display: block;
      color: #343434;
      white-space: nowrap; }
      @media all and (max-width: 56.1875em) {
        .navbar__menu li a,
        .navbar__menu li span {
          padding: 1.06667rem 0; } }
      .navbar__menu li a:after,
      .navbar__menu li span:after {
        content: "";
        display: block;
        margin: 0 auto; }
      .navbar__menu li a:hover:not(span),
      .navbar__menu li span:hover:not(span) {
        color: #3949ab; }

@media all and (max-width: 56.1875em) {
  .navbar__submenu {
    margin: 0; } }

@media all and (min-width: 56.25em) {
  .navbar__submenu {
    background: #ffffff;
    -webkit-box-shadow: 0 0 6px rgba(52, 52, 52, 0.15);
    box-shadow: 0 0 6px rgba(52, 52, 52, 0.15);
    display: none;
    left: auto;
    margin: 15px 0 0;
    padding: 0.53333rem 0;
    position: absolute;
    top: 100%;
    width: auto;
    z-index: 2000; }
    .navbar__submenu:before {
      content: '';
      display: block;
      height: 15px;
      left: 0;
      position: absolute;
      top: -15px;
      width: 100%; }
    .navbar__submenu li {
      border: none;
      font-weight: normal;
      margin: 0; }
      .navbar__submenu li > a {
        padding: 0.53333rem 2.66667rem; } }
      @media all and (min-width: 56.25em) and (max-width: 56.1875em) {
        .navbar__submenu li > a {
          padding: 0.26667rem 0; } }

@media all and (min-width: 56.25em) {
      .navbar__submenu li:hover > a {
        background: #f7f7f8; }
      .navbar__submenu li ul {
        left: 90%;
        top: 0;
        -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
        transform: translate(-10%, 0); }
        .navbar__submenu li ul.navbar__submenu--reversed {
          left: auto;
          right: 90%;
          top: 0; } }

.navbar__toggle {
  background: none;
  border: none;
  border-top: 2px solid #343434;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  height: 14px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  text-indent: -99999rem;
  width: 1.6rem;
  z-index: 3; }
  @media all and (min-width: 56.25em) {
    .navbar__toggle {
      display: none; } }
  .navbar__toggle:before {
    border-top: 2px solid #343434;
    content: "";
    left: 0;
    position: absolute;
    top: 4px;
    width: 100%; }
  .navbar__toggle:after {
    border-bottom: 2px solid #343434;
    content: "";
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .navbar__toggle:focus {
    background: none;
    outline: none;
    border: none;
    border-top: 2px solid #343434; }
  .navbar__toggle:hover {
    background: none; }

.is-opened > ul {
  opacity: 1;
  overflow: auto;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
  .is-opened > ul li {
    padding: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    .is-opened > ul li ul {
      height: 0;
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%); }
      .is-opened > ul li ul li {
        border-top: 1px solid #e3e3e3; }
    .is-opened > ul li:hover > ul {
      height: auto;
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    .is-opened > ul li[aria-expanded="true"] > ul {
      display: block; }

@media all and (max-width: 56.1875em) {
  .has-submenu:after {
    background: #ffffff;
    border-right: 1px solid #343434;
    border-bottom: 1px solid #343434;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 1rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px; } }

.sidebar input {
  width: 100%; }
  .sidebar input + input {
    margin-top: 0.53333rem; }

.box {
  margin-bottom: -webkit-calc(3.2rem + 1vw);
  margin-bottom: calc(3.2rem + 1vw); }
  .box--gray {
    background: #f7f7f8;
    padding: -webkit-calc(1.86667rem + 0.5vw);
    padding: calc(1.86667rem + 0.5vw); }
    .box--gray > .box__title {
      border-top: none;
      padding-top: 0; }
  .box__title {
    color: #3949ab;
    margin: 0 0 -webkit-calc(1.86667rem + 0.5vw);
    margin: 0 0 calc(1.86667rem + 0.5vw); }
  .box ul {
    margin-left: 0; }

.owner {
  text-align: center; }
  .owner > img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    max-width: 7rem; }
  .owner > p {
    font-size: 0.87891rem; }
  .owner__email {
    display: block;
    margin-top: 0.8rem;
    text-decoration: underline; }

.authors {
  list-style: none; }
  .authors > li {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 -webkit-calc(1.6rem + 0.75vw);
    margin: 0 0 calc(1.6rem + 0.75vw);
    padding: 0; }
  .authors__img {
    margin-right: 2rem; }
  .authors__title {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700; }

.tags > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0; }

.newsletter__note {
  color: #908e98;
  font-size: 0.77248rem;
  margin: 0 0 1.06667rem; }

.u-small {
  color: #908e98;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.77248rem; }

.u-icon {
  fill: rgba(52, 52, 52, 0.8);
  height: 1rem;
  width: 1rem;
  -webkit-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out; }

.hero {
  height: 29rem;
  position: relative; }
  .hero__image {
    height: 29rem;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.9;
    position: relative;
    width: 100%; }
  .hero__text {
    color: #ffffff;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .hero__text > h1 {
      color: #ffffff; }
    .hero__text > .btn, .hero__text > [type=button], .hero__text >
    [type=submit], .hero__text >
    button {
      margin-top: 1.6rem; }

.page-header {
  border-top: 3px solid #343434;
  padding-top: -webkit-calc(1.86667rem + 0.5vw);
  padding-top: calc(1.86667rem + 0.5vw); }
  .page-header__title {
    color: #3949ab; }
  .page-header__desc {
    margin-top: -webkit-calc(0.26667rem + 0.5vw);
    margin-top: calc(0.26667rem + 0.5vw); }

.article {
  margin-bottom: -webkit-calc(1.6rem + 0.5vw);
  margin-bottom: calc(1.6rem + 0.5vw); }
  .article__title {
    font-size: 1.13778rem; }
    @media screen and (min-width: 20rem) {
      .article__title {
        font-size: -webkit-calc(1.13778rem + 0.07585 * ((100vw - 20rem) / 113));
        font-size: calc(1.13778rem + 0.07585 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .article__title {
        font-size: 1.21363rem; } }
  .article__meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .article__meta__avatar {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      height: 2.13333rem;
      margin-right: 0.8rem;
      width: 2.13333rem;
      display: inline-block;
      vertical-align: middle; }

.post {
  border-top: 3px solid #343434;
  padding-top: -webkit-calc(1.86667rem + 0.5vw);
  padding-top: calc(1.86667rem + 0.5vw); }
  .post__meta {
    margin: -webkit-calc(1.06667rem + 0.25vw) 0 0 0;
    margin: calc(1.06667rem + 0.25vw) 0 0 0; }
    .post__meta > li {
      display: inline-block;
      list-style: none;
      padding: 0.26667rem 1.06667rem 0 0; }
      .post__meta > li > svg {
        fill: #ffc400;
        vertical-align: top; }
  .post__image--left {
    float: left;
    margin-right: -webkit-calc(1.86667rem + 0.5vw);
    margin-right: calc(1.86667rem + 0.5vw);
    max-width: 50%; }
  .post__image--right {
    float: right;
    margin-left: -webkit-calc(1.86667rem + 0.5vw);
    margin-left: calc(1.86667rem + 0.5vw);
    max-width: 50%; }
  .post__image--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .post__image--wide {
    text-align: center; }
  .post__image--full {
    text-align: center; }
  .post__video {
    height: 0;
    overflow: hidden;
    padding-top: 1.6rem;
    padding-bottom: 56.25%;
    position: relative; }
    .post__video > iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .post__entry {
    margin-top: -webkit-calc(1.86667rem + 1vw);
    margin-top: calc(1.86667rem + 1vw); }
    @media all and (max-width: 56.1875em) {
      .post__entry {
        max-width: 36rem;
        margin-left: auto;
        margin-right: auto; } }
    .post__entry > :nth-child(1) {
      margin-top: 0; }
    .post__entry a {
      color: #3949ab;
      text-decoration: none;
      -webkit-transition: all 0.24s ease-out;
      -o-transition: all 0.24s ease-out;
      transition: all 0.24s ease-out; }
    .post__entry a:hover {
      color: #343434; }
    .post__entry a:active {
      color: #343434; }
    .post__entry a:focus {
      color: #343434; }
    .post__entry a:hover {
      text-decoration: underline; }
  .post__toc ul {
    counter-reset: item;
    list-style: decimal;
    margin: -webkit-calc(0.53333rem + 0.25vw) 0 0 1rem;
    margin: calc(0.53333rem + 0.25vw) 0 0 1rem; }
    .post__toc ul li {
      counter-increment: item;
      padding: 0; }
    .post__toc ul ul {
      margin-top: 0; }
      .post__toc ul ul li {
        display: block; }
        .post__toc ul ul li:before {
          content: counters(item, ".") ". ";
          margin-left: -20px; }
  .post__video {
    height: 0;
    overflow: hidden;
    padding-top: 1.6rem;
    padding-bottom: 56.25%;
    position: relative; }
    .post__video > iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
  .post__footer {
    text-align: right;
    margin-top: -webkit-calc(1.86667rem + 0.5vw);
    margin-top: calc(1.86667rem + 0.5vw); }
    @media all and (max-width: 37.4375em) {
      .post__footer {
        text-align: center; } }
    .post__footer > .box {
      border-top: 1px solid #e3e3e3;
      padding-top: -webkit-calc(1.86667rem + 0.5vw);
      padding-top: calc(1.86667rem + 0.5vw);
      text-align: center; }
  .post__last-updated {
    color: #908e98;
    font-size: 0.77248rem;
    margin-bottom: -webkit-calc(1.86667rem + 0.5vw);
    margin-bottom: calc(1.86667rem + 0.5vw); }
  .post__share > a {
    background: #f7f7f8;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 0.77248rem;
    padding: 0.53333rem 1.6rem;
    margin: 0.53333rem 0.53333rem 0; }
    .post__share > a > .u-icon {
      pointer-events: none;
      display: inline-block;
      margin-right: 0.53333rem;
      vertical-align: middle; }
  .post__tag {
    margin-left: 0;
    margin-top: 0; }
    .post__tag li {
      display: inline-block; }
      .post__tag li > a {
        background: #f7f7f8;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 0.77248rem;
        padding: 0.53333rem 1.6rem; }
  .post__bio > img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 4.8rem;
    width: 4.8rem; }
  .post__nav {
    color: #908e98;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.77248rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: -webkit-calc(1.86667rem + 0.5vw);
    margin-bottom: calc(1.86667rem + 0.5vw); }
    .post__nav__link {
      color: #717171; }
      @media all and (min-width: 37.5em) {
        .post__nav__link {
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around; } }
      .post__nav__link > img {
        width: 100px; }
        @media all and (max-width: 37.4375em) {
          .post__nav__link > img {
            display: none; } }
      .post__nav__link:hover h5 {
        -webkit-transition: all 0.12s linear;
        -o-transition: all 0.12s linear;
        transition: all 0.12s linear;
        color: #3949ab; }
    .post__nav h5 {
      font-size: 0.87891rem;
      margin: 0.26667rem 0 0;
      position: relative; }
    .post__nav__prev {
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      text-align: left; }
    .post__nav__next {
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      margin-left: auto;
      text-align: right; }
    @media all and (min-width: 37.5em) {
      .post__nav__text {
        width: 55%; } }
  .post__related__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -webkit-calc(1.86667rem + 0.5vw) -2% 0;
    margin: calc(1.86667rem + 0.5vw) -2% 0;
    width: 104%; }
    @media all and (min-width: 56.25em) {
      .post__related__wrap {
        -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap; } }
    .post__related__wrap figure {
      margin: 0;
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      padding: 0.8rem 2%; }
      @media all and (min-width: 37.5em) {
        .post__related__wrap figure {
          -webkit-flex-basis: 33.333%;
          -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%; } }
    .post__related__wrap figcaption > time {
      color: #908e98;
      font-size: 0.82397rem;
      margin: 0 0 0.8rem; }
    .post__related__wrap h4 {
      font-size: 0.87891rem;
      margin: 1.6rem 0 0.53333rem; }

.comments {
  border-top: 1px solid #e3e3e3;
  padding-top: -webkit-calc(1.86667rem + 0.5vw);
  padding-top: calc(1.86667rem + 0.5vw);
  text-align: center; }
  .comments > h3 {
    margin-bottom: -webkit-calc(1.86667rem + 0.5vw);
    margin-bottom: calc(1.86667rem + 0.5vw); }

.author__avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 4.8rem;
  margin-bottom: -webkit-calc(0.93333rem + 0.5vw);
  margin-bottom: calc(0.93333rem + 0.5vw);
  width: 4.8rem; }

.search__form {
  margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw); }

.search__input {
  width: 100%; }

.gs-webResult {
  border-top: 1px solid #e3e3e3;
  padding-top: 1rem; }

.gsc-table-result {
  margin-top: 0.53333rem;
  white-space: initial; }
  .gsc-table-result td {
    padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.msg {
  padding: 1.06667rem 1.6rem; }
  .msg--highlight {
    background-color: #fff7e5; }
  .msg--info {
    background-color: #d9edf7; }
  .msg--success {
    background: #d5efc2; }

.dropcap:first-letter {
  color: #343434;
  float: left;
  font-family: "Roboto", sans-serif;
  line-height: 0.6;
  margin-right: 0.53333rem;
  padding: 0.53333rem 0.53333rem 0.53333rem 0; }
  .dropcap:first-letter {
    font-size: 2.8084rem; }
    @media screen and (min-width: 20rem) {
      .dropcap:first-letter {
        font-size: -webkit-calc(2.8084rem + 1.898 * ((100vw - 20rem) / 113));
        font-size: calc(2.8084rem + 1.898 * ((100vw - 20rem) / 113)); } }
    @media screen and (min-width: 133rem) {
      .dropcap:first-letter {
        font-size: 4.70641rem; } }

@media all and (min-width: 37.5em) {
  .pagination > a {
    margin: 0 0.53333rem 0 0; } }

.footer {
  border-top: 1px solid #e3e3e3;
  font-family: "Roboto", sans-serif;
  /*margin-top: -webkit-calc(1.86667rem + 0.5vw);
  margin-top: calc(1.86667rem + 0.5vw);*/
  padding: -webkit-calc(1.86667rem + 0.5vw) 0;
  padding: calc(1.86667rem + 0.5vw) 0;
  text-align: center; }
  .footer__social > a {
    display: inline-block;
    padding: 0 0.53333rem; }
  .footer__copyright + .footer__social {
    margin-top: 1.6rem; }

.gallery {
  margin: -webkit-calc(1.6rem + 1vw) -0.53333rem;
  margin: calc(1.6rem + 1vw) -0.53333rem; }
  @media all and (min-width: 20em) {
    .gallery {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media all and (min-width: 20em) {
    .gallery[data-columns="1"] .gallery__item {
      width: 100%; } }
  @media all and (min-width: 30em) {
    .gallery[data-columns="2"] .gallery__item {
      width: 50%; } }
  @media all and (min-width: 37.5em) {
    .gallery[data-columns="3"] .gallery__item {
      width: 33%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="4"] .gallery__item {
      width: 25%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="5"] .gallery__item {
      width: 20%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="6"] .gallery__item {
      width: 16.666%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="7"] .gallery__item {
      width: 14.285%; } }
  @media all and (min-width: 56.25em) {
    .gallery[data-columns="8"] .gallery__item {
      width: 12.5%; } }
  .gallery__item {
    margin: 0;
    padding: 0.53333rem; }
    @media all and (min-width: 20em) {
      .gallery__item {
        width: 50%; } }
    @media all and (min-width: 30em) {
      .gallery__item {
        width: 33.333%; } }
    @media all and (min-width: 37.5em) {
      .gallery__item {
        width: 25%; } }
    .gallery__item img {
      display: block;
      width: 100%; }

.pswp--dark .pswp__bg {
  background: black; }

.pswp--light .pswp__bg {
  background: white; }

.pswp--light .pswp__counter {
  color: #343434; }

.pswp--light .pswp__caption__center {
  color: #343434; }




h1 {
  /* ported from the archived site; to be merged to style.css */
  font-size: 2.5rem; /* NB in the original this is 4.6rem, but that is countered there by html { font-size: 62% } */
  font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

.hero-1 {
  background-color: #f58220;
  color: white;
  min-height: 10em;

  vertical-align: middle;
  text-align: center;

  padding: 5em 5em;
}

.shrinkwrap {
  margin-left: auto;
  margin-right: auto;
}

.hero-1 h1 {
  margin: 1em 0;
  color: white;
}

.hero-2 {
  background-color: black;
  color: white;
  min-height: 10em;

  vertical-align: middle;
  text-align: center;

  padding: 5em 5em;
}

.hero-2 h1 {
  margin: 1em 0;
  color: white;
}

.parallax {
  /* Set a specific height */
  min-height: 20em;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax > div {
  /* add a shaded covering to fade the image a bit and make the text more legible */
  background-color: rgba(0,0,0,0.4);
  padding: 7em 5em;
}

ul.poster-grid {
  text-align: center;
}

ul.poster-grid > li {
  display: inline-block;
  margin: 1em;
  padding: 0;
  width: 300px;
  height: 200px;
  border: lightgrey dashed;
  text-align: center;
  vertical-align: middle;
}

ul.poster-grid > li > p {
  /* vertical-center the contents of the "posters";
     this only applies to the text-only, image-less versions,
     because the image'd posters are supposed to explicitly fill the full  300x200.

     This works using HTML table layouts. They are the only reliable
     element type that knows about vertical sizing, and CSS lets you
     invoke their layout algorithm without actually making a <table>:
     when in display: table-cell, vertical-align takes on a different meaning,
     giving the positioning of the contents.

     read all about CSS centering woes here:
     https://www.w3.org/Style/Examples/007/center.en.html#vertical
     https://css-tricks.com/centering-css-complete-guide/#center-horizontally-and-vertically
  */
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /* But this depends on the table-cell being vertically large enough to make centering
     do anything; by default it shrinkwraps to its contents, so we need to grow it.
     FIXME: it should be enough to say height: 100% here, but that gets ignored??
            Specifying in px works, but that's janky.
  */
  height: 200px;
  width: 300px;

  padding: 0.5em;
}

/*# sourceMappingURL=main.css.map */
