        <footer class="footer u-small">
            {{#if @config.custom.copyrightText}}
                <div class="footer__copyright">
                    {{{@config.custom.copyrightText}}}
                </div>
            {{/if}}

            {{#if @config.custom.socialButtons}}
                <div class="footer__social">
                    {{#if @config.custom.socialFacebook}}
                        <a href="{{@config.custom.socialFacebook}}" title="Facebook" aria-label="Facebook">
                            <svg class="u-icon">
                                <desc>Facebook</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialTwitter}}
                        <a href="{{@config.custom.socialTwitter}}" title="Twitter" aria-label="Twitter">
                            <svg class="u-icon">
                                <desc>Twitter</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialInstagram}}
                        <a href="{{@config.custom.socialInstagram}}" title="Instagram" aria-label="Instagram">
                            <svg class="u-icon">
                                <desc>Instagram</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#instagram"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialLinkedin}}
                        <a href="{{@config.custom.socialLinkedin}}" title="LinkedIn" aria-label="LinkedIn">
                            <svg class="u-icon">
                                <desc>LinkedIn</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialVimeo}}
                        <a href="{{@config.custom.socialVimeo}}" title="Vimeo" aria-label="Vimeo">
                            <svg class="u-icon">
                                <desc>Vimeo</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#vimeo"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialPinterest}}
                        <a href="{{@config.custom.socialPinterest}}" title="Pinterest" aria-label="Pinterest">
                            <svg class="u-icon">
                                <desc>Pinterest</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest"/>
                            </svg>
                        </a>
                    {{/if}}
                    {{#if @config.custom.socialYoutube}}
                        <a href="{{@config.custom.socialYoutube}}" title="Youtube" aria-label="Youtube">
                            <svg class="u-icon">
                                <desc>Youtube</desc>
                                <use href="{{@website.assetsUrl}}/svg/svg-map.svg#youtube"/>
                            </svg>
                        </a>
                    {{/if}}
                </div>
            {{/if}}
        </footer>

    {{!-- If the page contains a picture gallery load the Photoswipe Gallery script --}}
    {{#is "post"}}
       {{#post}}
          {{#if hasGallery}}
              {{> photoswipe}}
          {{/if}}
      {{/post}}
    {{/is}}
    {{!-- Solution for SVGs not displaying in Chrome; applies only to Preview mode --}}
    {{#if @renderer.previewMode}}
        <script defer src="{{js "svg2js.js"}}"></script>
        <script defer src="{{js "svg-fix.js"}}"></script>
    {{/if}}
    {{!-- Insert some custom code by Custom HTML tool --}}
    {{{@footerCustomCode}}}
    {{!-- GDPR Cookie popup generated natively by Publii app --}}
    {{{ publiiFooter }}}

</body>
</html>
