<!DOCTYPE html>
<html lang="{{ @website.language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>{{@website.name}}</title>
    {{/if}}
    {{metaDescription}}
    {{metaRobots}}
    {{canonicalLink}}
    {{ampLink}}
    {{feedLink}}
    {{socialMetaTags}}
	{{#if @config.custom.faviconUpload}}
	        <link rel="shortcut icon" href="{{@config.custom.faviconUpload}}" type="{{@config.custom.faviconExtension}}" />
    {{/if}}
    {{#if @pagination}}
        {{#if @pagination.previousPage}}
            <link rel="prev" href="{{@pagination.previousPageUrl }}">
        {{/if}}
        {{#if @pagination.nextPage}}
            <link rel="next" href="{{@pagination.nextPageUrl }}">
        {{/if}}
    {{/if}}
    <link rel="stylesheet" href="{{css "style.css" }}">
	{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
                 <link rel="stylesheet" href="{{css "photoswipe.css" }}">
              {{/if}}
           {{/post}}
        {{/is}}	
    {{jsonLD}}
	{{#is "post"}}
           {{#post}}
              {{#if hasGallery}}
		         {{#if @config.custom.galleryLightboxStyle}}
		            <style>				
		               {{#checkIf @config.custom.galleryLightboxStyle '==' "pswp--dark" }}
				          .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-light.svg);
			              }
		              {{else}}
			              .pswp--svg .pswp__button,
				          .pswp--svg .pswp__button--arrow--left:before,
				          .pswp--svg .pswp__button--arrow--right:before {
					          background-image: url({{@website.assetsUrl}}/svg/gallery-icons-dark.svg);
			              }		
		              {{/checkIf}}
		           </style>
		         {{/if}}
              {{/if}}
           {{/post}}
        {{/is}}
    {{!-- Insert some custom code by Custom HTML tool --}}
    {{{@headCustomCode}}}
</head>
<body>
    {{!-- Insert some custom code by Custom HTML tool --}}
    {{{@bodyCustomCode}}}

    <div class="container">
        <header class="top">
            <a class="logo" href="{{@website.url}}">
                {{#if @website.logo}}
                    <img src="{{@website.logo}}" alt="{{@website.name}}">
                {{else}}
                    {{@website.name}}
                {{/if}}
            </a>
            
            {{> menu menus.mainMenu}}
        </header>
    </div>
