{{#if @config.custom.shareFacebook}}
    <a
        href="https://www.facebook.com/sharer/sharer.php?u={{encodeUrlFragment url}}"
        class="js-share facebook"
        title="{{ translate 'partials.shareButtons.shareWithFacebook' }}"
        rel="nofollow">
        <svg class="u-icon" aria-hidden="true">
            <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#facebook"/>
        </svg>
        Facebook
    </a>
{{/if}}

{{#if @config.custom.shareTwitter}}
    <a
        href="https://twitter.com/share?url={{encodeUrlFragment url}}&amp;via={{#if @config.custom.shareTwitterName}}{{@config.custom.shareTwitterName}}{{else}}{{@website.name}}{{/if}}&amp;text={{encodeUrlFragment title}}"
        class="js-share twitter"
        title="{{ translate 'partials.shareButtons.shareWithTwitter' }}"
        rel="nofollow">
        <svg class="u-icon" aria-hidden="true">
            <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#twitter"/>
        </svg>
		Twitter
    </a>
{{/if}}

{{#if @config.custom.sharePinterest}}
    <a
        a href="https://pinterest.com/pin/create/button/?url={{encodeUrlFragment url}}&amp;media={{encodeUrlFragment featuredImage.url}}&amp;description={{encodeUrlFragment title}}" class="js-share pinterest" title="{{ translate 'partials.shareButtons.shareWithPinterest' }}" rel="nofollow">
        <svg class="u-icon" aria-hidden="true">
            <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#pinterest"/>
        </svg>
		Pinterest
    </a>
{{/if}}

{{#if @config.custom.shareMix}}
<a href="https://mix.com/add?url={{encodeUrlFragment url}}" class="js-share mix" title="{{ translate 'partials.shareButtons.shareWithMix' }}" rel="nofollow">
    <svg class="u-icon" aria-hidden="true">
        <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#mix" />
    </svg>
    Mix
</a>
{{/if}}

{{#if @config.custom.shareLinkedin}}
    <a
        href="http://www.linkedin.com/shareArticle?url={{encodeUrlFragment url}}&amp;title={{encodeUrlFragment title}}"
        class="js-share linkedin"
        title="{{ translate 'partials.shareButtons.shareWithLinkedIn' }}"
        rel="nofollow">
        <svg class="u-icon" aria-hidden="true">
            <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#linkedin"/>
        </svg>
		Linkedin
    </a>
{{/if}}

{{#if @config.custom.shareBuffer}}
    <a
        href="https://buffer.com/add?text={{encodeUrlFragment title}}&amp;url={{encodeUrlFragment url}}"
        class="js-share buffer"
        title="{{ translate 'partials.shareButtons.shareWithBuffer' }}"
        rel="nofollow">
        <svg class="u-icon" aria-hidden="true">
            <use xlink:href="{{@website.assetsUrl}}/svg/svg-map.svg#buffer"/>
        </svg>
		Buffer
    </a>
{{/if}}
